<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid logoTitle">
    <div class="logo">
      <img
        src="assets/final.jpg"
        class="imgContainer"
        alt="PayPolish"
        width="110"
        height="70"
      />
    </div>
    <!-- <a class="navbar-brand logoName" routerLink="/main/entry">PayPolish</a> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse>
      <div class="navbar-nav ms-auto navContent">
        <a
          class="nav-link NavItem"
          aria-current="page"
          routerLink="/final/final/entry"
          routerLinkActive="activeClass"
          >| Data Entry |</a
        >
        <a
          class="nav-link NavItem"
          routerLink="/final/final/read"
          routerLinkActive="activeClass"
          >| Data Report |</a
        >
        <a
          class="nav-link NavItem"
          routerLink="/"
          >| Home |</a
        >
      </div>
    </div>
  </div>
</nav>
