<app-navbar></app-navbar>
<div class="MainContainer">
  <kendo-grid
    [data]="gridData"
    (edit)="editHandler($event)"
    (remove)="removeHandler($event)"
    (add)="addHandler($event)"
    (cancel)="cancelHandler($event)"
    [resizable]="true"
    (save)="saveHandler($event)"
    [pageSize]="10"
    [pageable]="true"
    [navigable]="true"
    (cellClick)="cellClickHandler($event)"
    (cellClose)="cellCloseHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand [primary]="true" class="myBtn">
        <i class="bi bi-plus-circle-fill myicon" id="mi"> </i> Add New
      </button>
    </ng-template>
    <kendo-grid-column
      field="id"
      title="ID"
      [editable]="false"
      [hidden]="true"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="date"
      title="Date"
      editor="date"
      [width]="190"
      [format]="'dd/MM/yyyy'"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{datepipe.getDate(dataItem.date)}}
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="recieve"
      title="Recieve"
      editor="numeric"
      [width]="180"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white'
      }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="issue"
      title="Issue"
      editor="numeric"
      [width]="170"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
      [footerStyle]="{
        'background-color': '#888',
        color: 'white',
        'border-color': 'white'
      }"
    >
      <ng-template kendoGridFooterTemplate>
        Total : {{ FooterIssue }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="pick"
      title="Pick"
      editor="numeric"
      [width]="170"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="touch"
      title="Touch"
      editor="numeric"
      [width]="170"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.touch }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="loss"
      title="Loss"
      [width]="150"
      [editable]="false"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
      [footerStyle]="{
        'background-color': '#888',
        color: 'white',
        'border-color': 'white'
      }"
    >
      <ng-template kendoGridFooterTemplate>
        Total : {{ FooterLoss }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="fine"
      title="Fine"
      [width]="150"
      [editable]="false"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
      [footerStyle]="{
        'background-color': '#888',
        color: 'white',
        'border-color': 'white'
      }"
    >
      <ng-template kendoGridFooterTemplate>
        Total : {{ FooterFine }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column
      title="Action"
      [width]="300"
      [headerStyle]="{
        'background-color': 'rgb(246 204 33)',
        color: 'white',
        'border-color': 'white'
      }"
    >
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true" class="Editbtn">
          <i class="bi bi-pencil-fill editicon" id="me"> </i> Edit
        </button>
        <button kendoGridRemoveCommand class="Delbtn">
          <i class="bi bi-trash-fill delicon" id="md"></i> Remove
        </button>
        <button kendoGridSaveCommand [primary]="true" class="UpBtn">
          <i class="bi bi-upload upicon" id="mu"></i>
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand class="Delbtn">
          <i class="bi bi-x-circle-fill delicon" id="md"></i>
          {{ isNew ? "Discard" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>

<app-footer></app-footer>
