<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container cont p-4 pb-0">

      <div class="contact">
        Contact Us &nbsp; : &nbsp;
        <a href="mailto: ananthacreators@gmail.com">
          <span class="emailName">ananthacreators@gmail.com</span>
        </a>
      </div>

      <div class="email">
        Powered By &nbsp; : &nbsp;
        <span class="companyName">Anantha Creators</span>
      </div>
    </div>
    <!-- Grid container -->
  </footer>
