.containerRead{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .scrollbar{
    width: 23%;
    height: 100%;
  }

  .mainGrid{
    width: 73%;
    height: 1--;
    height: 100%;
  }

  .dropDownSection{
    margin-top: 35px;
    width: 100%;
  }



  /* Edit Btn  */

  .editicon{
    font-size: 17px;
    color:  #58D68D;
  }

  .editicon:hover{
    font-size: 18px;
    color:  white;
  }

  .Editbtn{
    border-radius: 5%;
    /* background-color: rgb(246, 204, 33); */
    background-color: white;
    border: 2px solid #58D68D;
    color: black;
  }

  .Editbtn:hover ,.Editbtn:hover #me{
    border-radius: 5%;
    background-color: #58D68D;
    color: white;
    border: white;
    transform:scale(1.1);
    transition: 0.2s;
  }



  /* Update Button Css */


  .upicon{
    font-size: 17px;
    color:  #85C1E9;
  }

  .upicon:hover{
    font-size: 18px;
    color:  white;
  }

  .UpBtn{
    border-radius: 5%;
    /* background-color: rgb(246, 204, 33); */
    background-color: white;
    border: 2px solid #85C1E9;
    color: black;
  }

  .UpBtn:hover ,.UpBtn:hover #mu{
    border-radius: 5%;
    background-color: #85C1E9;
    color: white;
    border: white;
    transform:scale(1.1);
    transition: 0.2s;
  }



  /* Btn Classes */

  .myicon{
    font-size: 17px;
    color:  #f6931D;
  }

  .myicon:hover{
    font-size: 18px;
    color:  white;
  }
  .myBtn{
    border-radius: 5%;
    /* background-color: rgb(246, 204, 33); */
    background-color: white;
    border: 2px solid #f6931D;
    color: black;
  }


  .myBtn:hover ,.myBtn:hover #mi{
    border-radius: 5%;
    background-color: #f6931D;
    color: white;
    border: white;
    transform:scale(1.1);
    transition: 0.2s;
  }



  /*  */

.MainContainer{
  min-width: 115%;
  /* min-width: 100%; */
  /* max-width: auto; */
  min-height: 100vh;
  max-height: 100vh;
  /* margin-top: 2px; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
};
