<!-- <div class="container" [ngStyle]="{'background-image' : 'url(./assets/home.png)'}"> -->
<div class="cont" [ngStyle]="{ 'background-image': 'url(./assets/home1.png)' }">
  <div class="box">
    <button kendoButton class="myBtn text-center" routerLink="/secon">
      <span class="title">Pre Polish</span>
    </button>
    <button kendoButton class="myBtn text-center" routerLink="/main">
      <span class="title">Pay Polish</span>
    </button>
    <button kendoButton class="myBtn text-center" routerLink="/final">
      <span class="title">Final Polish</span>
    </button>
  </div>
</div>
